
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #edf2f9;
    font-family: 'Lato', sans-serif;
    color: #344050;
}
p {
    font-size: 16px;
    color: #344050;
    line-height: 35px;
    margin-bottom: 15px;
}
p:last-child {
    margin-bottom: 0;
}
span.text-bold {
    font-weight: 700;
}
.module {
    margin-bottom: 30px;
}
.module-tasks {
    list-style: none;
}
.module-tasks li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(102, 112, 133);
    border: 1px solid lightgray;
    padding: 10px 15px;
    min-width: 350px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 3px;
    transition: all 0.25s;
}
.module-tasks li a:hover {
    background-color: #101828;
    color: #fff;
}
.module-title {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    gap: 15px;
}
.module h1 {
    font-size: 40px;
    line-height: 55px;
    color: #344050;
}
.module-back-btn {
    background-color: #ff8c4b;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
}
.module p {
    margin-bottom: 0;
    line-height: 22px;
}
.module-wrapper {
    max-width: 1024px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}
.module-form label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-weight: 700;
}
.module-form input,
.module-form select,
.module-form input:focus,
.module-form select:focus {
    padding: 10px;
    min-width: 350px;
    border: 1px solid lightgray;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
}
.module-form .input-group {
    margin-bottom: 15px;
}
.module-form button {
    padding: 10px;
    min-width: 350px;
    border: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    background-color: #ffcd33;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}
.results {
    font-size: 25px;
    line-height: 35px;
    margin-top: 30px;
}